.deck {
    height: 8em;
}
.deck{
    position: absolute;
}
.deck {
    bottom: 0;
}
.deck div.card-cont:nth-child(1)  { left: 0; }
.deck div.card-cont:nth-child(2)  { left: 1.1em; }
.deck div.card-cont:nth-child(3)  { left: 2.2em; }
.deck div.card-cont:nth-child(4)  { left: 3.3em; }
.deck div.card-cont:nth-child(5)  { left: 4.4em; }
.deck div.card-cont:nth-child(6)  { left: 5.5em; }
.deck div.card-cont:nth-child(7)  { left: 6.6em; }
.deck div.card-cont:nth-child(8)  { left: 7.7em; }
.deck div.card-cont:nth-child(9)  { left: 8.8em; }
.deck div.card-cont:nth-child(10) { left: 9.9em; }
.deck div.card-cont:nth-child(11) { left: 11em; }
.deck div.card-cont:nth-child(12) { left: 12.1em; }
.deck div.card-cont:nth-child(13) { left: 13.2em; }

.deck div.card-cont:nth-child(14) { left: 14.3em; }
.deck div.card-cont:nth-child(15) { left: 15.4em; }
.deck div.card-cont:nth-child(16) { left: 16.5em; }
.deck div.card-cont:nth-child(17) { left: 17.6em; }
.deck div.card-cont:nth-child(18) { left: 18.7em; }
.deck div.card-cont:nth-child(19) { left: 19.8em; }
.deck div.card-cont:nth-child(20) { left: 20.9em; }
.deck div.card-cont:nth-child(21) { left: 22em; }
.deck div.card-cont:nth-child(22) { left: 23.1em; }
.deck div.card-cont:nth-child(23) { left: 24.2em; }
.deck div.card-cont:nth-child(24) { left: 25.3em; }
.deck div.card-cont:nth-child(25) { left: 26.4em; }
.deck div.card-cont:nth-child(26) { left: 27.5em; }

/* rotate cards if rotateHand option is on */
.deck.rotateHand div.card-cont:nth-child(1) {
    -moz-transform: translate(1.9em, .9em) rotate(-42deg);
    -webkit-transform: translate(1.9em, .9em) rotate(-42deg);
    -o-transform: translate(1.9em, .9em) rotate(-42deg);
    transform: translate(1.9em, .9em) rotate(-42deg);
}
.deck.rotateHand div.card-cont:nth-child(2) {
    -moz-transform: translate(1.5em, .5em) rotate(-33deg);
    -webkit-transform: translate(1.5em, .5em) rotate(-33deg);
    -o-transform: translate(1.5em, .5em) rotate(-33deg);
    transform: translate(1.5em, .5em) rotate(-33deg);
}
.deck.rotateHand div.card-cont:nth-child(3) {
    -moz-transform: translate(1.1em, .3em) rotate(-24deg);
    -webkit-transform: translate(1.1em, .3em) rotate(-24deg);
    -o-transform: translate(1.1em, .3em) rotate(-24deg);
    transform: translate(1.1em, .3em) rotate(-24deg);
}
.deck.rotateHand div.card-cont:nth-child(4) {
    -moz-transform: translate(.7em, .2em) rotate(-15deg);
    -webkit-transform: translate(.7em, .2em) rotate(-15deg);
    -o-transform: translate(.7em, .2em) rotate(-15deg);
    transform: translate(.7em, .2em) rotate(-15deg);
}
.deck.rotateHand div.card-cont:nth-child(5) {
    -moz-transform: translate(.3em, .1em) rotate(-6deg);
    -webkit-transform: translate(.3em, .1em) rotate(-6deg);
    -o-transform: translate(.3em, .1em) rotate(-6deg);
    transform: translate(.3em, .1em) rotate(-6deg);
}
.deck.rotateHand div.card-cont:nth-child(6) {
    -moz-transform: translate(-.1em, .1em) rotate(3deg);
    -webkit-transform: translate(-.1em, .1em) rotate(3deg);
    -o-transform: translate(-.1em, .1em) rotate(3deg);
    transform: translate(-.1em, .1em) rotate(3deg);
}
.deck.rotateHand div.card-cont:nth-child(7) {
    -moz-transform: translate(-.5em, .2em) rotate(12deg);
    -webkit-transform: translate(-.5em, .2em) rotate(12deg);
    -o-transform: translate(-.5em, .2em) rotate(12deg);
    transform: translate(-.5em, .2em) rotate(12deg);
}
.deck.rotateHand div.card-cont:nth-child(8) {
    -moz-transform: translate(-.9em, .3em) rotate(21deg);
    -webkit-transform: translate(-.9em, .3em) rotate(21deg);
    -o-transform: translate(-.9em, .3em) rotate(21deg);
    transform: translate(-.9em, .3em) rotate(21deg);
}
.deck.rotateHand div.card-cont:nth-child(9) {
    -moz-transform: translate(-1.3em, .6em) rotate(30deg);
    -webkit-transform: translate(-1.3em, .6em) rotate(30deg);
    -o-transform: translate(-1.3em, .6em) rotate(30deg);
    transform: translate(-1.3em, .6em) rotate(30deg);
}
.deck.rotateHand div.card-cont:nth-child(10) {
    -moz-transform: translate(-1.7em, 1em) rotate(39deg);
    -webkit-transform: translate(-1.7em, 1em) rotate(39deg);
    -o-transform: translate(-1.7em, 1em) rotate(39deg);
    transform: translate(-1.7em, 1em) rotate(39deg);
}
.deck.rotateHand div.card-cont:nth-child(11) {
    -moz-transform: translate(-2.2em, 1.5em) rotate(48deg);
    -webkit-transform: translate(-2.2em, 1.5em) rotate(48deg);
    -o-transform: translate(-2.2em, 1.5em) rotate(48deg);
    transform: translate(-2.2em, 1.5em) rotate(48deg);
}
.deck.rotateHand div.card-cont:nth-child(12) {
    -moz-transform: translate(-2.8em, 2.1em) rotate(57deg);
    -webkit-transform: translate(-2.8em, 2.1em) rotate(57deg);
    -o-transform: translate(-2.8em, 2.1em) rotate(57deg);
    transform: translate(-2.8em, 2.1em) rotate(57deg);
}
.deck.rotateHand div.card-cont:nth-child(13) {
    -moz-transform: translate(-3.5em, 2.8em) rotate(66deg);
    -webkit-transform: translate(-3.5em, 2.8em) rotate(66deg);
    -o-transform: translate(-3.5em, 2.8em) rotate(66deg);
    transform: translate(-3.5em, 2.8em) rotate(66deg);
}